{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title|title}}</title>
</head>
<body>
    <h1>{{header}} {{user}}</h1>
    {% for item in products %}
        {%  if item.ispromo != 1 %}
            <h5 style="color: #1d2124">Продукция: {{item.name}}, цена: {{ item.price }} р. </h5>
        {% else %}
            <h5 style="color: red">Продукция: {{item.name}}, цена: {{ item.price }} р. </h5>
        {%  endif %}
    {% endfor %}
</body>
</html>
{% endspaceless %}